*{
	margin: 0;
	padding: 0;
}
body img{
	border-color: darkblue;
	border-width: thick;
}
.Menu{
	width: 110%;
}
div.Menu{
	background-color: lightblue;
	border-style: solid;
	border-width: thick;
	border-color: darkblue;
}
.Menu a{
	text-decoration: none;
	font-weight: bold;
	font-size: 45px;
	color: darkred;
	border-style: inset;
	border-width: thick;
}
.Menu td{
	background: gray;
	padding: 10px 15px;
	text-align: center;
	font-family: Courier New, monospaceL;
}
div.Menu table{
	width: 80%
	border-color: black;
	border-style: solid;
}